<i class="material-icons back-form" routerLink="/gescom/businesses">
    keyboard_backspace
</i>

<button form="form" type="submit" class="save-form-place">
    <i class="material-icons save-form">
        save
    </i>
</button>

<div class="card form">
    <h3>{{ business.label }}</h3>

    <form [formGroup]="form.group" (ngSubmit)="save()" id="form">
        <div class="columns" *ngIf="business.codeBusiness">
            <div class="form-group column col-6">
                <label class="form-label">Code affaire</label>
                <input class="form-input" disabled [value]="business.codeBusiness">
            </div>
            <div class="form-group column col-6">
                <label class="form-label">Nom dossier arbo</label>
                <input class="form-input" disabled [value]="business.arboName">
            </div>
        </div>

        <div class="columns">
            <div class="form-group column col-6" [class.has-error]="form.group.get('customer').invalid">
                <label class="form-label">Client</label>
                <select class="form-control form-select" formControlName="customer"
                        [compareWith]="formService.objectsEquals" (change)="customerChange()">
                    <option
                            *ngFor="let customer of customers"
                            [ngValue]="customer"
                    >{{ customer.name }}
                    </option>
                </select>
            </div>
            <div class="form-group column" [class.has-error]="form.group.get('label').invalid">
                <label class="form-label">Intitulé de l'affaire</label>
                <input type="text" class="form-control form-input" formControlName="label">
            </div>
        </div>

        <div class="columns">
            <div class="form-group column col-6" [class.has-error]="form.group.get('businessContact').invalid">
                <label class="form-label">Contact commercial</label>
                <select class="form-control form-select" formControlName="businessContact"
                        [compareWith]="formService.objectsEquals">
                    <option
                            *ngFor="let contact of businessContacts"
                            [ngValue]="contact"
                    >{{ contact.fullName }}
                    </option>
                </select>
            </div>
            <div class="form-group column col-6" [class.has-error]="form.group.get('technicalContact').invalid">
                <label class="form-label">Contact technique</label>
                <select class="form-control form-select" formControlName="technicalContact"
                        [compareWith]="formService.objectsEquals">
                    <option
                            *ngFor="let contact of technicalContacts"
                            [ngValue]="contact"
                    >{{ contact.fullName }}
                    </option>
                </select>
            </div>
        </div>

        <div class="columns">
            <div class="form-group column col-6" [class.has-error]="form.group.get('notes').invalid">
                <label class="form-label">Notes</label>
                <textarea class="form-input" rows="3" formControlName="notes">{{business.notes}}</textarea>
            </div>
        </div>
    </form>
</div>
