<div class="container">
    <form [formGroup]="form.group" (ngSubmit)="save()">
        <div class="columns" *ngIf="business.id">
            <div class="form-group column col-6">
                <label class="form-label">Code affaire</label>
                <input class="form-input" disabled [value]="business.id">
            </div>
            <div class="form-group column col-6">
                <label class="form-label">Nom dossier arbo</label>
                <input class="form-input" disabled [value]="business.arboName">
            </div>
        </div>

        <div class="columns">
            <div class="form-group column col-6" [class.has-error]="form.group.get('customer').invalid">
                <label class="form-label">Client</label>
                <select class="form-control form-select" formControlName="customer"
                        [compareWith]="formService.objectsEquals">
                    <option
                            *ngFor="let customer of customers"
                            [ngValue]="customer"
                    >{{ customer.name }}
                    </option>
                </select>
            </div>
            <div class="form-group column" [class.has-error]="form.group.get('label').invalid">
                <label class="form-label">Intitulé de l'affaire</label>
                <input type="text" class="form-control form-input" formControlName="label">
            </div>
        </div>

        <div class="columns">
            <div class="form-group column col-6" [class.has-error]="form.group.get('businessContact').invalid">
                <label class="form-label">Contact commercial</label>
                <select class="form-control form-select" formControlName="businessContact"
                        [compareWith]="formService.objectsEquals">
                    <option
                            *ngFor="let contact of contacts"
                            [ngValue]="contact"
                    >{{ contact.mobilePhone }}
                    </option>
                </select>
            </div>
            <div class="form-group column col-6" [class.has-error]="form.group.get('technicalContact').invalid">
                <label class="form-label">Contact technique</label>
                <select class="form-control form-select" formControlName="technicalContact"
                        [compareWith]="formService.objectsEquals">
                    <option
                            *ngFor="let contact of contacts"
                            [ngValue]="contact"
                    >{{ contact.mobilePhone }}
                    </option>
                </select>
            </div>
        </div>

        <div class="columns">
            <div class="form-group column col-6" [class.has-error]="form.group.get('notes').invalid">
                <label class="form-label">Notes</label>
                <textarea class="form-input" rows="3" formControlName="notes">{{business.notes}}</textarea>
            </div>
        </div>

        <div class="columns">
            <button class="btn btn-primary column col-4 col-mx-auto" type="submit">Enregistrer</button>
            <a class="btn btn-error col-4 col-mx-auto" routerLink="/businesses">Retour à la liste</a>
        </div>
    </form>
</div>
