<i class="material-icons form-add-btn" [routerLink]="['/gescom/business']"
   *ngIf="roleGuard.canAccess('Gestion commerciale', 'WRITE')"
>
    add_circle
</i>

<app-table-filters
    [searchProperties]="['codeBusiness', 'label', {name: 'customer', subname: 'name'}]"
    [filterProperties]="[
        {name: 'codeBusiness', label: 'Code affaire', type: 'text'},
        {name: 'label', label: 'Nom de l\'affaire', type: 'text'},
        {name: 'customer', subname: 'name', label: 'Nom du client', type: 'text'}
    ]"
></app-table-filters>

<div class="card">
    <ngx-datatable
        #table
        class="material fullscreen"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [rowHeight]="'auto'"
        [footerHeight]="'auto'"
        [rows]="rows"
        [columns]="columns"
        [limit]="10"
    ></ngx-datatable>

    <ng-template #actionTmpl let-row="row">
        <i class="material-icons enabled-{{ !row.enabled }}" (click)="toggleEnabled(row)">
            check_circle
        </i>
        <i class="material-icons" [routerLink]="['/gescom/business/', row.id]"
           *ngIf="roleGuard.canAccess('Gestion commerciale', 'WRITE')"
        >
            mode_edit
        </i>
        <i class="material-icons delete" (click)="delete(row)">
            delete_forever
        </i>
    </ng-template>

    <ng-template #enabledTmpl let-row="row" let-value="value">
        <span class="enabled-{{ value }}">{{ value ? 'Actif' : 'Inactif' }}</span>
    </ng-template>
</div>
