<div id="empowerments">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-empowerments">
            <thead>
            <tr>
                <th></th>
                <th *ngFor="let group of groups">{{ group.label }}</th>
            </tr>
            </thead>
            <tbody>
            <ng-template ngFor let-resource [ngForOf]="resources">
                <tr class="title">
                    <td class="resource" [attr.colspan]="groups.length + 1">{{ resource.name }}</td>
                </tr>
                <tr *ngFor="let access of resource.accesses">
                    <td class="access">{{ access }}</td>

                    <td *ngFor="let group of groups">
                        <div class="form-group">
                            <label class="form-switch">
                                <input (change)="toggleAuthorizationSwitch(group.id, resource.name, access)" type="checkbox">
                                <i class="form-icon"></i>
                            </label>
                        </div>
                    </td>
                </tr>
            </ng-template>
            </tbody>
        </table>
    </div>
</div>
