@import "../../../../styles/variables";

div.table {
  display: flex;
  flex-direction: column;

  & > div, .line > form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0 5px 0;

    .line-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input:first-child {
      margin-left: 10px;
    }

    i:last-child {
      margin-right: 10px;
    }
  }

  .body {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

input {
  &[type=checkbox] {
    display: none;
  }
  border: none;
  outline: 0;
  width: 100px;
}

.header {
  border-bottom: 2px solid $grey-table;
}

.body > .line:nth-child(odd) {
  background-color: $light-grey-2;

  & input {
    background-color: $light-grey-2;
  }
}

i {
  &:hover {
    color: $primary-color;
  }

  margin-left: 5px;
}
