<details class="accordion">
    <summary class="accordion-header">
        Primes et formations
        <i class="icon icon-arrow-right mr-1"></i>
    </summary>
    <div class="accordion-body">
        <div class="text-right">
            <i class="material-icons add" (click)="activeModal()">
                add_circle
            </i>
        </div>

        <ngx-datatable
            #table
            class="material fullscreen"
            [columnMode]="'force'"
            [headerHeight]="'auto'"
            [rowHeight]="'auto'"
            [footerHeight]="'auto'"
            [rows]="rows"
            [columns]="columns"
            [limit]="10"
        ></ngx-datatable>

        <ng-template #dateTmpl let-value="value" let-row="row">
            {{ value|date }}
        </ng-template>

        <ng-template #actionTmpl let-row="row">
            <i class="material-icons" (click)="activeModal(row)">
                mode_edit
            </i>
            <i class="material-icons" (click)="confirmDelete(row)">
                delete_forever
            </i>
        </ng-template>
    </div>
</details>
<spectre-modal [title]="modalTitle">
    <app-training-bonus-form [trainingBonus]="trainingBonus" [user]="user" (saveTraining)="closeModal()"></app-training-bonus-form>
</spectre-modal>
