<div class="card">
    <form [formGroup]="filterForm">
        <div class="columns">
            <div class="column col-12 text-center filtered-text">
                Filtrer par
            </div>
            <div class="form-group filter-search column col-12">
                <input
                    class="form-input"
                    type="text"
                    name="search"
                    placeholder="Rechercher"
                    formControlName="search"
                    (keyup)="onFilter()"
                >
            </div>

            <div class="form-group column col-4" *ngFor="let filterProperty of filterProperties">
                <input
                    class="form-input"
                    [type]="filterProperty.type"
                    [name]="filterProperty.name"
                    [placeholder]="filterProperty.label"
                    [formControlName]="filterProperty.subname ?
                        filterProperty.name + '.' + filterProperty.subname :
                        filterProperty.name"
                    (keyup)="onFilter()"
                >
            </div>
        </div>
    </form>
</div>
