<button
    class="btn btn-lg btn-primary circle tooltip tooltip-bottom"
    data-tooltip="Ajouter une affaire"
    routerLink="/crm/customer"
>
    <i class="icon icon-plus"></i>
</button>

<div class="card">
    <ngx-datatable
        #table
        class="material fullscreen"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [rowHeight]="'auto'"
        [footerHeight]="'auto'"
        [rows]="rows"
        [columns]="columns"
        [limit]="10"
    ></ngx-datatable>

    <ng-template #businessTmpl let-row="row">
        <div [routerLink]="['/crm/customers/', row.id, 'businesses']">Voir les affaires</div>
    </ng-template>

    <ng-template #enabledTmpl let-row="row" let-value="value">
        <span class="enabled-{{ value }}">{{ value ? 'Actif' : 'Inactif' }}</span>
    </ng-template>

    <ng-template #actionTmpl let-row="row">
        <i class="material-icons enabled-{{ !row.enabled }}" (click)="toggleEnabled(row)">
            check_circle
        </i>
        <i class="material-icons" [routerLink]="['/crm/customer/', row.id]">
            mode_edit
        </i>
        <i class="material-icons delete" (click)="delete(row)">
            delete_forever
        </i>
    </ng-template>
</div>
