<div class="card form">
    <h3>{{ user.firstName }} {{ user.lastName }}</h3>

    <form [formGroup]="form.group" (ngSubmit)="save()">
        <div class="columns" *ngIf="user.trigram">
            <div class="form-group column col-6">
                <label class="form-label">Trigramme</label>
                <input class="form-input" disabled [value]="user.trigram">
            </div>
        </div>

        <div class="columns">
            <div class="form-group column col-6" [class.has-error]="form.group.get('email').invalid">
                <label class="form-label">Email</label>
                <input type="email" class="form-control form-input" formControlName="email">
            </div>
        </div>

        <div class="columns">
            <div class="form-group column" [class.has-error]="form.group.get('lastName').invalid">
                <label class="form-label">Nom</label>
                <input type="text" class="form-control form-input" formControlName="lastName">
            </div>

            <div class="form-group column" [class.has-error]="form.group.get('firstName').invalid">
                <label class="form-label">Prénom</label>
                <input type="text" class="form-control form-input" formControlName="firstName">
            </div>
        </div>

        <div class="columns" *ngIf="undefined === user.id">
            <div class="form-group column col-6" [class.has-error]="form.group.get('username').invalid">
                <label class="form-label">Nom d'utilisateur</label>
                <input type="text" class="form-input form-control" formControlName="username">
            </div>

            <div class="form-group column col-6" [class.has-error]="form.group.get('plainPassword').invalid">
                <label class="form-label">Mot de passe</label>
                <input type="text" class="form-input form-control" formControlName="plainPassword">
            </div>
        </div>

        <div class="columns">
            <div class="form-group column col-6" [class.has-error]="form.group.get('profile').invalid">
                <label class="form-label">Profile</label>
                <select class="form-control form-select" formControlName="profile"
                        [compareWith]="formService.objectsEquals">
                    <option
                        *ngFor="let profile of profiles"
                        [ngValue]="profile"
                    >{{profile.label}}</option>
                </select>
            </div>

            <div class="form-group column col-6" [class.has-error]="form.group.get('group').invalid">
                <label class="form-label">Groupe</label>
                <select class="form-control form-select" formControlName="group" [compareWith]="formService.objectsEquals">
                    <option
                        *ngFor="let group of groups"
                        [ngValue]="group"
                    >{{group.label}}</option>
                </select>
            </div>
        </div>

        <div class="columns">
            <div class="form-group column col-6" [class.has-error]="form.group.get('managers').invalid">
                <label class="form-label">Responsables</label>
                <ng-select
                    [items]="managers"
                    [multiple]="true"
                    formControlName="managers"
                    bindLabel="fullName"
                    [(ngModel)]="user.managers"
                ></ng-select>
            </div>
        </div>

        <div class="columns">
            <div class="form-group column col-6" [class.has-error]="form.group.get('notes').invalid">
                <label class="form-label">Notes</label>
                <textarea class="form-input" rows="3" formControlName="notes">{{user.notes}}</textarea>
            </div>
        </div>

        <div class="columns">
            <button class="btn btn-primary column col-4 col-mx-auto" type="submit">Enregistrer</button>
            <a class="btn btn-error col-4 col-mx-auto" routerLink="/settings/users">Retour à la liste</a>
        </div>
    </form>
</div>
