<div class="columns">
    <button *ngIf="displayHeader" (click)="addColumn()">Add</button>
    <div class="column" *ngFor="let form of forms">
        <form [formGroup]="form.group">
            <ng-container *ngIf="displayHeader">
                <div>
                    <select
                        class="form-control form-select"
                        formControlName="profile"
                        [compareWith]="formService.objectsEquals"
                    >
                        <option *ngFor="let profile of profiles | async" [ngValue]="profile">
                            {{ profile.label }}
                        </option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-action" (click)="activeModal(form)">
                        <i class="icon icon-people"></i>
                    </button>
                </div>
                <div>
                    <input formControlName="label" type="text">
                </div>
                <div>
                    <input formControlName="tjm" type="number">
                </div>
            </ng-container>

            <div>
                <input formControlName="time" type="number">
            </div>
        </form>
    </div>
</div>

<spectre-modal title="Colalborateurs">
    <form *ngIf="activeForm" #collabForm>
        <label *ngFor="let user of users">
            {{ user.fullName }}
            <input
                type="checkbox"
                name="collaborators"
                [value]="user.id"
                [checked]="isCollaborator(user.id)"
                (change)="changeCollaborator(collabForm)"
            >
        </label>
    </form>
</spectre-modal>
