.columns, form {
    position: relative;
}

.columns {
    flex-wrap: nowrap;
}

.add-btn {
    position: absolute;
    left: 100%;
    top: -118px;
}

.header {
    position: absolute;
    bottom: 110%;

    input, select {
        min-height: unset;
    }

    select {
        padding-right: 0;
        width: 73%;
    }

    .btn-colabs {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.body {
    input {
        border: none;
        outline: 0;
        background: transparent;
    }
}
