<details class="accordion">
    <summary class="accordion-header">
        Liste des affaires
        <i class="icon icon-arrow-right mr-1"></i>
    </summary>
    <div class="accordion-body">
        <ngx-datatable
            #table
            class="material fullscreen"
            [columnMode]="'force'"
            [headerHeight]="'auto'"
            [rowHeight]="'auto'"
            [footerHeight]="'auto'"
            [rows]="rows"
            [columns]="columns"
            [limit]="10"
        ></ngx-datatable>

        <ng-template #businessContactTmpl let-row="row">
            {{ row.businessContact.firstName + ' ' + row.businessContact.lastName }}
        </ng-template>

        <ng-template #technicalContactTmpl let-row="row">
            {{ row.technicalContact.firstName + ' ' + row.technicalContact.lastName }}
        </ng-template>

        <ng-template #enabledTmpl let-row="row" let-value="value">
            <span class="enabled-{{ value }}">{{ value ? 'Actif' : 'Inactif' }}</span>
        </ng-template>

        <ng-template #actionTmpl let-row="row">
            <i class="material-icons" [routerLink]="['/gescom/business/', row.id]">
                search
            </i>
        </ng-template>
    </div>
</details>

