<form (ngSubmit)="authenticate()" [formGroup]="loginForm" novalidate>
    <div
        class="form-group"
        [ngClass]="{
            'has-error': username.invalid && (username.touched || username.dirty),
            'has-success': username.valid && (username.touched || username.dirty)
        }"
    >
        <label class="form-label">Username</label>
        <input
            type="text"
            class="form-input"
            formControlName="username"
        >
        <span class="form-input-hint">The username is invalid.</span>
    </div>

    <div
        class="form-group"
        [ngClass]="{
            'has-error': password.invalid && (password.touched || password.dirty),
            'has-success': password.valid && (password.touched || password.dirty)
        }"
    >
        <label class="form-label">Password</label>
        <input
            type="password"
            class="form-input"
            formControlName="password"
        >
        <span class="form-input-hint">The password is invalid.</span>
    </div>

    <div class="form-group">
        <label class="form-checkbox">
            <input type="checkbox" formControlName="remember">
            <i class="form-icon"></i> Remember me
        </label>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
