<div class="nav__container">
    <div class="nav--item" routerLink="/dashboard" routerLinkActive="active">
        <span>Tableau de bord</span>
        <i class="material-icons">timeline</i>
    </div>
    <div class="nav--item" routerLink="/crm" routerLinkActive="active">
        <span>CRM</span>
        <i class="material-icons">group</i>
    </div>
    <div class="nav--item" routerLink="/gescom" routerLinkActive="active">
        <span>Gestion commerciale</span>
        <i class="material-icons">card_travel</i>
    </div>
    <div class="nav--item" routerLink="/empowerment" routerLinkActive="active">
        <span>Habilitations</span>
        <i class="material-icons">device_hub</i>
    </div>
    <div class="nav--item" routerLink="/settings" routerLinkActive="active">
        <span>Paramétrage</span>
        <i class="material-icons">settings</i>
    </div>
</div>
