<div class="nav">

    <div class="nav-item" routerLink="/dashboard" routerLinkActive="active">
        Tableau de bord
    </div>

    <div class="nav-item" routerLink="/empowerment" routerLinkActive="active">
        Habilitations
    </div>
    <div class="nav-item">
        Gestion commerciale
        <div class="nav">
            <div class="nav-item" routerLink="/businesses" routerLinkActive="active">
                Affaires
            </div>
        </div>
    </div>
    <div class="nav-item">
        Paramètrage
        <div class="nav">
            <div class="nav-item" routerLink="/users" routerLinkActive="active">
                Utilisateurs
            </div>
        </div>
    </div>

</div>
