@import "../../styles/variables";

.tab {
    padding: 0 10px;
    background-color: $white;

    .tab-item {
        margin: 10px 10px 0 10px;

        &.active a {
            color: $dark-grey;
        }

        a {
            padding-bottom: 10px;
            color: $grey;
            font-size: 18px;
            font-weight: 300;

            &:focus {
                box-shadow: none;
            }
        }
    }
}
