@import "variables";

.form-add-btn, .form-add-btn:focus{
    border-style: none;
    outline: none;
    position: absolute !important;
    right: 18px;
    top: 75px;
    color: $primary-color;
    font-size: 30px;
    cursor: pointer;
}

.form-download {
    border-style: none;
    outline: none;
    position: absolute !important;
    right: 18px;
    top: 75px;
    font-size: 30px;
    cursor: pointer;
}

.back-form, .back-form:focus{
    border-style : none;
    outline: none;
    position: absolute !important;
    right: 60px;
    top: 78px;
    font-size: 30px;
    cursor: pointer;
}

.save-form{
    color: $primary-color;
    font-size: 30px;
    cursor: pointer;
}

.save-form-place, .save-form-place:focus{
    border-style : none;
    outline: none;
    position: absolute !important;
    right: 18px;
    top: 76px;
}
