header, .sidenav {
    background: #242536;
    color: #fff;
    position: fixed;
    z-index: 10;
}

header {
    min-height: 60px;
    width: 100vw;
}

.main {
    padding-top: 60px;
}

.content {
    margin-left: 200px;
}

.sidenav {
    min-width: 200px;
    height: 100vh;
}
