<ng-sidebar-container *ngIf="user !== null">
    <ng-sidebar
        #sidenav
        mode="push"
        [(opened)]="opened"
        [dock]="!opened"
        dockedSize="60px"
    >
        <div class="logo">
            <img src="../assets/logo_nodevo.png" width="120" height="30" alt="Nodevo Logo" (click)="display()">

            <div class="logo_mini">
                <img src="../assets/logo_nodevo_mini.png" width="30" height="30" alt="Nodevo Logo" (click)="display()">
            </div>
        </div>
        <app-menu></app-menu>
    </ng-sidebar>

    <div ng-sidebar-content>
        <header class="navbar">
            <section class="navbar-section">
                <div class="col-ml-auto flex-centered">
                    <span class="user-fullname">{{ userFullName }}</span>
                    <div>
                        <ngx-avatar
                            bgColor="#9B9B9B"
                            [name]="userFullName"
                            [size]="30"
                            [textSizeRatio]="2"
                            class="col-ml-auto"
                            (clickOnAvatar)="logout()"
                        ></ngx-avatar>
                    </div>
                </div>
            </section>
        </header>

        <main>
            <app-tabs></app-tabs>
            <router-outlet></router-outlet>
        </main>
    </div>
</ng-sidebar-container>

<router-outlet *ngIf="user === null"></router-outlet>

<spinner></spinner>
