<header class="navbar" *ngIf="username !== null">
    <section class="navbar-section">
        <img src="" alt="">
    </section>
    <section class="navbar-section">
        <button class="btn btn-primary" (click)="logout()">Déconnexion</button>
    </section>
</header>

<main [ngClass]="{'main' : username !== null}">
    <aside class="sidenav" *ngIf="username !== null">
        <app-menu></app-menu>
    </aside>
    <div [ngClass]="{'content' : username !== null}">
        <router-outlet></router-outlet>
    </div>
</main>
<ng4-loading-spinner></ng4-loading-spinner>
