<form (ngSubmit)="save()" #userForm="ngForm">
    <div>
        <input type="text" class="form-control" disabled [value]="user.trigram">
    </div>

    <div>
        <input type="email" class="form-control" name="email" required [(ngModel)]="user.email">
    </div>

    <div>
        <input type="text" class="form-control" name="lastName" required [(ngModel)]="user.lastName">
        <input type="text" class="form-control" name="firstName" required [(ngModel)]="user.firstName">
    </div>

    <div>
        <select
            name="profile"
            id="profile"
            class="form-control"
            [(ngModel)]="user.profile.id"
            #userProfile="ngModel"
        >
            <option
                *ngFor="let profile of profiles"
                [ngValue]="profile.id"
            >{{profile.label}}</option>
        </select>

        <select
            name="group"
            id="group"
            class="form-control"
            [(ngModel)]="user.group.id"
            #userGroup="ngModel"
        >
            <option
                *ngFor="let group of groups"
                [ngValue]="group.id"
            >{{group.label}}</option>
        </select>
    </div>

    <div>
        <select
            name="manager"
            id="manager"
            class="form-control"
            [(ngModel)]="user.managers"
            #userGroup="ngModel"
        >
            <option
                *ngFor="let manager of managers"
                [ngValue]="manager.id"
            >{{manager.firstName}}</option>
        </select>
    </div>

    <div>
        <textarea name="notes" id="notes" cols="30" rows="3">{{user.notes}}</textarea>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</form>
