<form [formGroup]="form.group" (ngSubmit)="save()">
    <div>
        <label>Trigramme</label>
        <input class="form-input" disabled [value]="user.trigram">
    </div>

    <div>
        <label>Email</label>
        <input type="email" class="form-control form-input" formControlName="email">
    </div>

    <div>
        <label>Nom</label>
        <input type="text" class="form-control form-input" formControlName="lastName">

        <label>Prénom</label>
        <input type="text" class="form-control form-input" formControlName="firstName">
    </div>

    <div>
        <label>Profile</label>
        <select
            class="form-control form-select"
            formControlName="profile"
            [compareWith]="equals"
        >
            <option
                *ngFor="let profile of profiles"
                [ngValue]="profile"
            >{{profile.label}}</option>
        </select>

        <label>Groupe</label>
        <select
            class="form-control form-select"
            formControlName="group"
            [compareWith]="equals"
        >
            <option
                *ngFor="let group of groups"
                [ngValue]="group"
            >{{group.label}}</option>
        </select>
    </div>

    <div>
        <label>Responsables</label>
        <select
            class="form-control form-select"
            formControlName="managers"
            multiple
        >
            <option
                *ngFor="let manager of managers"
                [ngValue]="manager"
            >{{manager.firstName}}</option>
        </select>
    </div>

    <div>
        <label>Notes</label>
        <textarea class="form-input" rows="3" formControlName="notes">{{user.notes}}</textarea>
    </div>

    <button class="btn btn-primary" type="submit">Enregistrer</button>
</form>
