<form class="form-horizontal" [formGroup]="form.group" (ngSubmit)="save()">
    <div class="form-group">
        <div class="col-3 col-sm-12">
            <label class="form-label" for="reason">Motif</label>
        </div>
        <div class="col-9 col-sm-12">
            <input
                    class="form-input"
                    type="text"
                    id="reason"
                    placeholder="Motif"
                    formControlName="reason"
            >
        </div>
    </div>
    <div class="form-group">
        <div class="col-3 col-sm-12">
            <label class="form-label" for="fromDate">Date de début :</label>
        </div>
        <div class="col-9 col-sm-12">
            <input
                    class="form-input"
                    type="date"
                    id="fromDate"
                    formControlName="fromDate"
            >
        </div>
    </div>
    <div class="form-group">
        <div class="col-3 col-sm-12">
            <label class="form-label" for="toDate">Date de fin :</label>
        </div>
        <div class="col-9 col-sm-12">
            <input
                    class="form-input"
                    type="date"
                    id="toDate"
                    formControlName="toDate"
            >
        </div>
    </div>
    <button class="btn btn-primary" type="submit">
        Enregistrer
    </button>
</form>
