<button
    class="btn btn-lg btn-primary circle tooltip tooltip-bottom"
    data-tooltip="Ajouter un utilisateur"
    routerLink="/settings/user"
>
    <i class="icon icon-plus"></i>
</button>

<app-table-filters
    [searchProperties]="['firstName', 'lastName', 'trigram']"
    [filterProperties]="[
        {name: 'firstName', label: 'Prénom', type: 'text'},
        {name: 'lastName', label: 'Nom', type: 'text'},
        {name: 'profile', subname: 'label', label: 'Profil', type: 'text'}
    ]"
></app-table-filters>

<ngx-datatable
    #table
    class="material fullscreen"
    columnMode="force"
    headerHeight="auto"
    rowHeight="auto"
    footerHeight="auto"
    [rows]="rows"
    [columns]="columns"
    [limit]="10"
></ngx-datatable>

<ng-template #actionTmpl let-row="row">
    <div class="btn-group btn-group-block">
        <button
            class="btn btn-primary tooltip tooltip-right"
            data-tooltip="Editer"
            [routerLink]="['/settings/user/', row.id]"
        >
            <i class="material-icons">edit</i>
        </button>
        <button
            class="btn btn-error tooltip tooltip-left"
            data-tooltip="Supprimer"
            (click)="delete(row)"
        >
            <i class="material-icons">delete</i>
        </button>
    </div>
</ng-template>

<ng-template #enabledTmpl let-row="row" let-value="value">
    <label class="form-switch">
        <input type="checkbox" [checked]="value" (change)="toggleEnabled(row)">
        <i class="form-icon"></i>
    </label>
</ng-template>
