<button
    class="btn btn-lg btn-primary circle tooltip tooltip-bottom"
    data-tooltip="Exporter"
    (click)="exportCsv()"
>
    <i class="material-icons">get_app</i>
</button>

<app-table-filters
    [searchProperties]="['lastName', 'firstName']"
    [filterProperties]="[
        {name: 'lastName', label: 'Nom', type: 'text'},
        {name: 'firstName', label: 'Prénom', type: 'text'},
        {name: 'customer', subname: 'name', label: 'Client', type: 'text'},
        {name: 'function', label: 'Fonction', type: 'text'},
        {name: 'phone', label: 'Numéro', type: 'text'},
        {name: 'email', label: 'Email', type: 'text'}
    ]"
></app-table-filters>
<div class="card">
    <ngx-datatable
        #table
        class="material fullscreen"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [rowHeight]="'auto'"
        [footerHeight]="'auto'"
        [rows]="rows"
        [columns]="columns"
        [limit]="10"
        [sorts]="[{prop: 'customer.name', dir: 'asc'}]"
    ></ngx-datatable>
</div>
