<i class="material-icons form-add-btn" [routerLink]="['/gescom/quotation']"
   *ngIf="roleGuard.canAccess('Gestion commerciale', 'WRITE')"
>
    add_circle
</i>

<app-table-filters
    [searchProperties]="[
        'codeQuotation',
        'label',
        {name: 'business', subname: 'label'},
        {name: 'customer', subname: 'name'},
        {name: 'provision', subname: 'label'},
        {name: 'status', subname: 'label'}
    ]"
    [filterProperties]="[
        {name: 'codeQuotation', label: 'Code devis', type: 'text'},
        {name: 'label', label: 'Intitulé du devis', type: 'text'},
        {name: 'business', subname: 'label', label: 'Nom de l\'affaire', type: 'text'},
        {name: 'customer', subname: 'name', label: 'Nom du client', type: 'text'},
        {name: 'provision', subname: 'label', label: 'Type de prestation', type: 'text'},
        {name: 'status', subname: 'label', label: 'Etat du devis', type: 'text'}
    ]"
></app-table-filters>

<div class="card">
    <ngx-datatable
        #table
        class="material fullscreen"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [rowHeight]="'auto'"
        [footerHeight]="'auto'"
        [rows]="rows"
        [columns]="columns"
        [limit]="10"
    ></ngx-datatable>

    <ng-template #actionTmpl let-row="row">
        <i class="material-icons" (click)="duplicate(row)">
            content_copy
        </i>
        <i class="material-icons" [routerLink]="['/gescom/quotation/', row.id]"
           *ngIf="roleGuard.canAccess('Gestion commerciale', 'WRITE')"
        >
            mode_edit
        </i>
        <i class="material-icons delete" (click)="delete(row)">
            delete_forever
        </i>
    </ng-template>
</div>
