<button
    class="btn btn-lg btn-primary circle tooltip tooltip-bottom"
    data-tooltip="Ajouter un devis"
    routerLink="/gescom/quotation"
>
    <i class="icon icon-plus"></i>
</button>

<div class="card">
    <ngx-datatable
        #table
        class="material fullscreen"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [rowHeight]="'auto'"
        [footerHeight]="'auto'"
        [rows]="rows"
        [columns]="columns"
        [limit]="10"
    ></ngx-datatable>

    <ng-template #actionTmpl let-row="row">
        <i class="material-icons" [routerLink]="['/gescom/quotation/', row.id]">
            mode_edit
        </i>
        <i class="material-icons delete" (click)="delete(row)">
            delete_forever
        </i>
    </ng-template>
</div>
